# Optional npm cache directory
.npm

# OS stuff
.DS_Store

#Secret environment variables
/env.json

*.code-workspace

#node_modules no longer needed in git since app is published locally
node_modules
