# Optional npm cache directory
.npm

# OS stuff
.DS_Store

#Secret environment variables
/env.json

*.code-workspace

#node_modules no longer needed in git since app is published locally
#homey dev dependencies also adds tons of modules ....
node_modules
